<form [formGroup]="CourseForm" (ngSubmit)="onSubmit()">
    <h1>{{ isEditMode ? 'Course editing' : 'Adding a course - for teachers only' }}</h1>
    <div formGroupName="course">
        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Enter course title">
            @if(CourseForm.get('course.title')?.hasError('required'))
            {<mat-error>
                Title is <strong>required</strong>
            </mat-error>}
        </mat-form-field>
        <br>

        <mat-form-field class=" example-full-width">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="Enter course description">
            @if(CourseForm.get('course.description')?.hasError('required'))
            { <mat-error>
                Description is <strong>required</strong>
            </mat-error>}
        </mat-form-field>
        <br>
    </div>
    <button mat-raised-button type="submit" [disabled]="CourseForm.invalid">
        {{ isEditMode ? 'Course update' : 'Add a course' }}
    </button>
</form>