<div class="course-management">
  <h1>ניהול קורסים</h1>

  <div class="course-form">
    <h3>הוסף קורס חדש</h3>
    <form (ngSubmit)="addCourse()">
      <label for="title">שם הקורס:</label>
      <input type="text" id="title" [(ngModel)]="newCourse.title" name="title" required />

      <label for="description">תיאור הקורס:</label>
      <textarea id="description" [(ngModel)]="newCourse.description" name="description" required></textarea>

      <button type="submit">הוסף קורס</button>
    </form>
  </div>

  @if(courses && courses.length > 0)
  {
  <div>
    <h3>הקורסים הקיימים</h3>
    @for(course of courses; track course.id)
    {
    <div>
      <div class="course-card">
        <h4>{{ course.title }}</h4>
        <p>{{ course.description }}</p>

        <button (click)="editCourse(course)">ערוך קורס</button>
        <button (click)="deleteCourse(course.id)">מחק קורס</button>
      </div>
    </div>
    }
  </div>
  }
  @else
  {
  <p>אין קורסים שצריך לנהל כרגע.</p>
  }
</div>