@if(isLoggedIn===false)
{
    <h1 class="entry">Welcome!</h1>
    <section class="entry">
        <div>
            <a routerLink="/register" class="links">Register</a>
            <a routerLink="/login" class="links">Login</a>
        </div>
    </section>
}
@if (isLoggedIn===true) {
    <section class="entry">
        <div>
            <a routerLink="/coursesList">Courses list </a><br />
            <a routerLink="/manageCourses">Manage courses</a><br />
            <button (click)="logout()">Logout</button>
        </div>
    </section>
}
<br>
<router-outlet></router-outlet>