@if(isLoggedIn===false)
{
<section class="entry">
    <div>
        <button mat-raised-button class="links" [routerLink]="['/']">
            <mat-icon>home</mat-icon>
            Home
        </button>
         <button mat-raised-button class="links" [routerLink]="['/login']">Login</button>
        <button mat-raised-button class="links" [routerLink]="['/register']">
            <mat-icon>person_add</mat-icon>
            Register
        </button>
    </div>
</section>
}
@if (isLoggedIn===true) {
<section class="entry">
    <div>
        <button mat-raised-button class="links" [routerLink]="['/coursesList']">
            <mat-icon>list</mat-icon>
            Courses list
        </button>
        <!-- <button class="links" [routerLink]="['/manageCourses']">Add course</button> -->
        <button mat-raised-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
        </button>
    </div>
</section>
}
<br>
<router-outlet></router-outlet>