.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    margin: 0 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}



.welcome-container {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
}

.header {
    background: #ffffff;
    color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.info-section {
    flex: 1;
    margin-right: 20px;
}

.action-section {
    flex: 1;
    margin-left: 20px;
}

.info-card {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.info-card:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 25px;
    color: #6200ea;
}

.footer {
    margin-top: 40px;
    font-size: 14px;
    color: #999;
}

span{
    font-size: 20px;
    font-weight: bold;
}