<div class="welcome-container">
    <div class="header">
        <h1>Welcome to Our Digital Courses!</h1>
        <p>You are invited to view the various courses and improve your skills ---</p>
    </div>

    <div class="content">
        <div class="info-section">
            <mat-card class="info-card">
                <mat-icon class="icon">school</mat-icon>
                <h2>Diverse Learning Paths</h2>
                <p>Choose from numerous categories to fit your interests.</p>
            </mat-card>

            <mat-card class="info-card">
                <mat-icon class="icon">verified_user</mat-icon>
                <h2>Professional teachers</h2>
                <p>Learn from experienced professionals.</p>
            </mat-card>
 
            <mat-card class="info-card">
                <mat-icon class="icon">verified_user</mat-icon>
                <h2>Availability</h2>
                <p>Access to courses anytime, anywhere.</p>
            </mat-card>
       </div>

        <div class="action-section">
            <p>Already a member?</p>
            <button mat-raised-button class="links" [routerLink]="['/login']">Login</button>

            <p>New here?</p>
            <button mat-raised-button class="links" [routerLink]="['/register']">
                <mat-icon>person_add</mat-icon>
                Register
            </button>
        </div>
    </div>

    <div class="footer">
        <p>&copy; All rights reserved to Digital Course. 2025.</p>
    </div>
</div>