<button class="links" (click)="AddLesson()">Add course</button>

<div class="courses-list">
    <h1>Lesson list</h1>

    {{lessons.length}}
    @if(lessons && lessons.length > 0)
    {
    <div>
        @for(lesson of lessons; track lesson.id)
        {
        <div class="course-card">
            <h2>{{ lesson.title }}</h2>
            <p>Lesson description: {{ lesson.content }}</p>
            @if(role==="teacher"){
            <button (click)="editLesson(lesson)">
                Lesson editing
            </button>
            <button (click)="deleteLesson(lesson.id)">
                Deleting a lesson
            </button>
            }
        </div>
        }
    </div>
    }
    @else {
    <p>There are no courses available at the moment.</p>
    }
</div>