<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1>Sign up as an existing user</h1>
    <mat-form-field class="example-full-width">
        <mat-label>Enter your name</mat-label>
        <input matInput formControlName="name" placeholder="Name">
        @if (registerForm.get('name')?.hasError('required')){
        <mat-error> Name is <strong>required</strong></mat-error>
        }
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
        <mat-label>Enter your email</mat-label>
        <input type="Enter your Email" matInput formControlName="email" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com">
        @if (registerForm.get('email')?.hasError('email') && !registerForm.get('email')?.hasError('required')){
        <mat-error>Please enter a valid email address</mat-error>
        }
        @if (registerForm.get('email')?.hasError('required')){
        <mat-error>Email is <strong>required</strong></mat-error>
        }
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password">
        @if (registerForm.get('password')?.hasError('required')){
        <mat-error> Password is <strong>required</strong></mat-error>
        }
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Choose your role</mat-label>
        <mat-select matInput formControlName="role">
            @for (role of roles; track role) {
            <mat-option [value]="role">{{role}}</mat-option>
            }
        </mat-select>
        @if (registerForm.get('role')?.hasError('required')){
        <mat-error> Role is <strong>required</strong></mat-error>
        }
    </mat-form-field>

    <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
    </div>
</form>