<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Log in as an existing user</h1>
    <mat-form-field class="example-full-width">
        <mat-label>Enter your Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com">
        @if (loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')){
        <mat-error>Please enter a valid email address</mat-error>
        }
        @if (loginForm.get('email')?.hasError('required')){
        <mat-error>Email is <strong>required</strong></mat-error>
        }
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password">
        @if (loginForm.get('password')?.hasError('required')){
        <mat-error> Password is <strong>required</strong></mat-error>
        }
        @if (loginForm.get('password')?.hasError('minlength')){
        <mat-error> Password must be at least 6 characters long.</mat-error>
        }
    </mat-form-field>
    <br>

    <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Log in</button>
    </div>
</form>