<div class="course-details">
    <h1>{{ courseDetails.title }}</h1>
    <p>{{ courseDetails.description }}</p>
    
    <div class="lessons">
      <h3>רשימת שיעורים</h3>
      
      @if(lessons && lessons.length > 0)
      {
        <ul>
          @for(lesson of lessons; track lesson.id)
          {
            <li>
              <p>{{ lesson.title }}</p>
              <button (click)="downloadMaterials(lesson.id)">
                הורד חומרים
              </button>
            </li>
          }
        </ul>
      }

      @else
      {
        <p>אין שיעורים כרגע.</p>
      }
    </div>
  </div>
  