<div class="courses-list">
  <h1>רשימת קורסים</h1>

  {{courses.length}}
  @if(courses && courses.length > 0)
  {
  <div>
    @for(course of courses; track course.id)
    {
    <div class="course-card">
      <h2>{{ course.title }}</h2>
      <p>תיאור הקורס: {{ course.description }}</p>
      @if(role==="student"){
      <button (click)="joinCourse(course)">
        הצטרף לקורס
      </button>
      <button (click)="leaveCourse(course)">
        עזוב את הקורס
      </button>
      }
      @if(role==="teacher"){
      <button (click)="editCourse(course)">
        עריכת קורס
      </button>
      <button (click)="deleteCourse(course.id)">
        מחיקת קורס
      </button>
      }
      <button (click)="getLessons(course)">
        שיעורי קורס
      </button>
    </div>
    }
  </div>
  }
  @else {
  <p>אין קורסים זמינים כרגע.</p>
  }
</div>