<div class="courses-list">
  @if(role=="teacher")
  { <button class="links" [routerLink]="['/manageCourses']">Add course</button>}
  <h1>List of courses</h1>
  @if(courses && courses.length > 0)
  {
  <div>
    @for(course of courses; track course.id)
    {
    <div class="course-card">
      <h2>{{ course.title }}</h2>
      <p>Course description: {{ course.description }}</p>
      @if(role==="student"){
      <button (click)="joinCourse(course)">
        Joining the course
      </button>
      <button (click)="leaveCourse(course)">
        Leaving the course
      </button>
      }
      @if(role==="teacher"){
      <button (click)="editCourse(course)">
        Course editing
      </button>
      <button (click)="deleteCourse(course.id)">
        Deleting a course
      </button>
      }
      <button (click)="getLessons(course)">
        Course lessons
      </button>
    </div>
    }
  </div>
  }
  @else {
  <p>There are no courses available at the moment.</p>
  }
</div>