<div class="courses-list">
 @if(role=="teacher")
  { <button mat-raised-button class="links" [routerLink]="['/manageCourses']">
    <mat-icon>add</mat-icon>
    Add course
  </button>}
  <h1>List of courses</h1>
  @if(courses && courses.length > 0)
  {
  <div>
    @for(course of courses; track course.id)
    {
    <div class="course-card">
      <mat-card>
        <mat-card-content>
          <h2>{{ course.title }}</h2>
          <p>Course description: {{ course.description }}</p>
          @if(role==="student"){
          <button mat-raised-button (click)="joinCourse(course)">
            <mat-icon>add</mat-icon>
            Joining the course
          </button>
          <button mat-raised-button (click)="leaveCourse(course)">
            <mat-icon>remove</mat-icon>
            Leaving the course
          </button>
          <button mat-raised-button>
            <mat-icon>download</mat-icon>
            Downloading materials
          </button>
          }
          @if(role==="teacher"){
          <button mat-raised-button (click)="editCourse(course)">
            <mat-icon>edit</mat-icon>
            Course editing
          </button>
          <button mat-raised-button (click)="deleteCourse(course.id)">
            <mat-icon>delete</mat-icon>
            Deleting a course
          </button>
          }
          <button mat-raised-button (click)="getLessons(course)">
            <mat-icon>list</mat-icon>
            Course lessons
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <br>
    }
  </div>
  }
  @else {
  <p>There are no courses available at the moment.</p>
  }
</div>